html, body {
    font-family: "TT Lakes";
    color: #1b1c21;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}